<div #chart echarts [options]="chartOption" [merge]="updateOption" (chartClick)="onChartEvent($event, 'chartClick')"  [ngStyle]="{'height.px': graphHeight}"></div>
<p-sidebar [(visible)]="nodeDetailsVisible">
  <ng-template pTemplate="header">Node Details</ng-template>
  <div class="mt-2" *ngIf="selectedNode != undefined">
    <span class="p-float-label mt-1">
        <input pInputText id="name" [(ngModel)]="selectedNode.name" disabled/>
        <label for="name">Name</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="duration" [(ngModel)]="selectedNode.duration" disabled/>
        <label for="duration">Duration</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="earlyStart" [(ngModel)]="selectedNode.earlyStart" disabled/>
        <label for="earlyStart">Early Start</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="earlyFinish" [(ngModel)]="selectedNode.earlyFinish" disabled/>
        <label for="earlyFinish">Early Finish</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="lateStart" [(ngModel)]="selectedNode.lateStart" disabled/>
        <label for="lateStart">Late Start</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="lateFinish" [(ngModel)]="selectedNode.lateFinish" disabled/>
        <label for="lateFinish">Late Finish</label>
    </span>
    <span class="p-float-label mt-1">
        <input pInputText id="float" [(ngModel)]="selectedNode.float" disabled/>
        <label for="float">Float</label>
    </span>
  </div>
</p-sidebar>
