<div id="footer-bar">
  <div id="footer-bar-left">
    <button class="p-button-text p-button-lg p-button-rounded" pButton icon="pi pi-bars" (click)="navMenu.toggle($event)"></button>
  </div>
  <div id="footer-bar-center">
    <div class="d-flex">
      <h1>Projkt</h1>
      <img alt="projkt logo" style="width: 32px;" src="/assets/projkt.webp">
    </div>
  </div>
  <div id="footer-bar-right">
    <button *ngIf="!loggedIn" class="p-button-text p-button-lg p-button-rounded" pButton icon="pi pi-ellipsis-v" (click)="settingMenu.toggle($event)"></button>
    <p-button *ngIf="loggedIn" styleClass="p-button-text p-button-rounded" (click)="settingMenu.toggle($event)" icon="true">
        <img style="border-radius: 50%;" src="{{profileImage}}" width="32" referrerpolicy="no-referrer">
    </p-button>
  </div>
</div>

<p-tieredMenu #navMenu [model]="navItems" [popup]="true"></p-tieredMenu>
<p-tieredMenu #settingMenu [model]="settingItems" [popup]="true"></p-tieredMenu>
