<div id="footer-bar">
  <div id="footer-bar-left">
    <button class="p-button-text p-button-lg" pButton icon="pi pi-bars" (click)="navMenu.toggle($event)"></button>
  </div>
  <div id="footer-bar-center">
    <div class="d-flex">
      <h1>Projkt</h1>
      <img alt="projkt logo" style="width: 32px;" src="/assets/projkt.webp">
    </div>
  </div>
  <div id="footer-bar-right">
    <button class="p-button-text p-button-lg" pButton icon="pi pi-ellipsis-v" (click)="settingMenu.toggle($event)"></button>
  </div>
</div>

<p-tieredMenu #navMenu [model]="navItems" [popup]="true"></p-tieredMenu>
<p-tieredMenu #settingMenu [model]="settingItems" [popup]="true"></p-tieredMenu>
